// COLORS
$color-text-light: #f0eeed;
$color-text-dark: #18122b;

$color-primary-light: #4c94f6;
$color-primary-dark: #4c69f6;
$color-secondary-light: #f6db35;
$color-secondary-dark: #ffc510;
$color-tertiary: #ee5454;

$color-dc-primary: #0476f2;
$color-dc-secondary: #ed1d24;
$color-dc-tertiary--light: #cccccc;
$color-dc-tertiary--medium: #bbbbbb;
$color-dc-tertiary--dark: #aaaaaa;

$color-dp-primary: #8b2323;
$color-dp-secondary: #171717;
$color-dp-tertiary: #292929;

$color-spm-primary: #b11313;
$color-spm-secondary: #2b3784;
$color-spm-tertiary: #447bbe;

$color-joker-primary: #ab5dee;
$color-joker-secondary: #1ddd33;
$color-joker-tertiary: #c5c5c5;

$color-flash-primary: #ab0020;
$color-flash-secondary: #facb33;
$color-flash-tertiary: #fffc7b;

$color-batman-primary: #242424;
$color-batman-secondary: #fdff00;
$color-batman-tertiary: #505c7c;

$color-wonderwoman-primary: #f6576d;
$color-wonderwoman-secondary: #3f6cb8;
$color-wonderwoman-tertiary: #ecc466;

$color-superman-primary: #f11712;
$color-superman-secondary: #0099f7;
$color-superman-tertiary: #ffe63a;

$color-aquaman-primary: #19a7ce;
$color-aquaman-secondary: #539165;
$color-aquaman-tertiary: #ebb02d;

// FONTS
$small-font: 1.2rem;
$default-font: 1.6rem;
$medium-font: 2rem;
$large-font: 3rem;
$huge-font: 6rem;

// GUTTERS
$small-gutter: 1.5rem;
$medium-gutter: 3rem;
$large-gutter: 6rem;
$huge-gutter: 10rem;
