.content-area--aquaman {
  background: linear-gradient(
      100deg,
      rgba($color-aquaman-primary, 0.35) 0%,
      rgba($color-aquaman-tertiary, 0.5) 100%
    ),
    url(https://media1.giphy.com/media/qBvHZHgiUmWBi/giphy.gif?cid=ecf05e47ti7iy65jb6zo6avc9qcxbwzyjf8rvi1ytw6vun2f&rid=giphy.gif&ct=gaquaman);
  background-repeat: no-repeat;
  background-size: cover;
}
