.content-area--thor {
  background: linear-gradient(
      100deg,
      rgba($color-thor-primary, 0.35) 0%,
      rgba($color-thor-tertiary, 0.5) 100%
    ),
    url(https://media0.giphy.com/media/3ov9k1J6jahVhiev0Q/giphy.gif?cid=ecf05e47sz8u42j0bsaxj26o3xrdhkyf1cc6jdw37wtgn4es&rid=giphy.gif&ct=g);
  background-repeat: no-repeat;
  background-size: cover;
}
