.page-footer {
  overflow: hidden;
  width: 100%;
  padding: 2rem;
  height: 10vh;
  border-radius: 0 0 0.3rem 0.3rem;
  text-align: center;
  background: $color-primary-light;
  background: radial-gradient(
    circle,
    rgba($color-secondary-light, 1) 0%,
    rgba($color-primary-light, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    font-weight: 700;
  }

  // DC
  &--joker {
    background: $color-primary-light;
    background: radial-gradient(
      circle,
      rgba($color-joker-primary, 1) 0%,
      rgba($color-joker-secondary, 1) 100%
    );
  }

  &--flash {
    background: $color-primary-light;
    background: radial-gradient(
      circle,
      rgba($color-flash-primary, 1) 0%,
      rgba($color-flash-secondary, 1) 100%
    );
  }

  &--batman {
    background: $color-primary-light;
    background: radial-gradient(
      circle,
      rgba($color-batman-tertiary, 1) 0%,
      rgba($color-batman-primary, 1) 100%
    );
  }

  &--wonderwoman {
    background: $color-primary-light;
    background: radial-gradient(
      circle,
      rgba($color-wonderwoman-tertiary, 1) 0%,
      rgba($color-wonderwoman-primary, 1) 100%
    );
  }

  &--superman {
    background: $color-primary-light;
    background: radial-gradient(
      circle,
      rgba($color-superman-primary, 1) 0%,
      rgba($color-superman-secondary, 1) 100%
    );
  }

  &--aquaman {
    background: $color-primary-light;
    background: radial-gradient(
      circle,
      rgba($color-aquaman-primary, 1) 0%,
      rgba($color-aquaman-secondary, 1) 100%
    );
  }

  // MARVEL
  &--dp {
    background: radial-gradient(
      circle,
      rgba($color-dp-primary, 1) 0%,
      rgba($color-dp-secondary, 1) 100%
    );
  }

  &--spiderman {
    background: radial-gradient(
      circle,
      rgba($color-spm-primary, 1) 0%,
      rgba($color-spm-secondary, 1) 100%
    );
  }

  &--hulk {
    background: $color-primary-light;
    background: radial-gradient(
      circle,
      rgba($color-hulk-primary, 1) 0%,
      rgba($color-hulk-secondary, 1) 100%
    );
  }

  &--thor {
    background: $color-primary-light;
    background: radial-gradient(
      circle,
      rgba($color-thor-primary, 1) 0%,
      rgba($color-thor-secondary, 1) 100%
    );
  }

  &--ironman {
    background: $color-primary-light;
    background: radial-gradient(
      circle,
      rgba($color-ironman-primary, 1) 0%,
      rgba($color-ironman-secondary, 1) 100%
    );
  }

  &--blackpanther {
    background: $color-primary-light;
    background: radial-gradient(
      circle,
      rgba($color-blackpanther-primary, 1) 0%,
      rgba($color-blackpanther-secondary, 1) 100%
    );

    & > a {
      color: $color-text-light;
    }
  }
}
